name: Build-and-test

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: macos-14
          - os: windows-latest
            compiler: mingw
          - os: windows-latest
            compiler: msvc
      fail-fast: false
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install -y \
            build-essential \
            catch2

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install eigen catch2

      - name: Install dependencies (Windows MinGW)
        if: runner.os == 'Windows' && matrix.compiler == 'mingw'
        run: |
          choco install mingw
          vcpkg install catch2 --triplet x64-mingw-dynamic

      - name: Install dependencies (Windows MSVC)
        if: runner.os == 'Windows' && matrix.compiler == 'msvc'
        run: |
          vcpkg install catch2 --triplet x64-windows

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2.1
        with:
          cmake-version: "3.25"

      - name: Configure CMake
        run: cmake -B build -S . -DBUILD_CLI=ON -DBUILD_TESTING=ON ${{ matrix.compiler == 'mingw' && '-G "MinGW Makefiles" -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-mingw-dynamic' || matrix.compiler == 'msvc' && '-DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows' || '' }}

      - name: Build
        run: cmake --build build ${{ matrix.compiler == 'msvc' && '--config Release' || '' }}

      - name: Install
        run: ${{ matrix.compiler == 'msvc' && 'cmake --install build --config Release' || runner.os == 'Windows' && 'cmake --install build' || 'sudo cmake --install build' }}

      - name: Test
        run: ctest --test-dir build --output-on-failure

  docs:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: sudo apt-get install -y build-essential doxygen graphviz

      - uses: actions/setup-python@v6

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2.1
        with:
          cmake-version: "3.25"

      - name: Configure CMake
        run: cmake -B build -S . -DBUILD_DOCS=ON -DBUILD_TESTING=OFF -DBUILD_CLI=ON

      - name: Build
        run: cmake --build build
